<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Home" class="brand-link">
        <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">اليماني</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">مدير النظام</a>
            </div>
        </div>

        <!-- Sidebar Menu -->

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column navmenu" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/Settings" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>الاعدادات</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="/LevelsSettings" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>تعريف المستويات</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Cheques" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>تعريف الشيكات</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Areas" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>المناطق</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/DeliveryTypes" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>تكلفة التوصيل</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Categories" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>التصنيفات</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Products" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>الكتالوج</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Users" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>استمارات الاعضاء</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Orders/Create" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>انشاء اوردر</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Orders/GetAllUnderCreationOrders" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>الاوردرات تحت الانشاء</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Orders/GetOrdersSummary" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>الأوردرات</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Orders/OrdersReport" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>تقارير الاوردرات</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/ContactUs" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>الشكاوى والمقترحات</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Notifications/Create" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>الإشعارات</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Notifications/ItemsNotifications" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>اشعارات المنتجات</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Notifications/IndexLevels" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p> ريبورت اشعارات المستويات</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Notifications/Index" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p> ريبورت الإشعارات</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Notifications/HelpMemeberIndex" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p> ريبورت إلحق عضوك</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/UserSalaries" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>القبض</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/UserSalaries/IndexForAll" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>القبض لكل الشهور الماضية</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/DailyUserSalaries" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>متابعة القبض للشهر الحالي</p>
                    </a>
                </li>

                <li class="nav-item has-treeview ">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-file-archive"></i>
                        <p>
                            تفاصيل الشجر
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/UserCheques/GetCheques" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>عدد الشيكات</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/UserCheques/GetChequeReport" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>ريبورت الشيكات</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/UserCheques/GetUserChequeViewForTarget" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>الاعضاء الفائزين  بالشيكات</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Users/UsersReport" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>ريبورت الأعضاء</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Users/UsersCompanyLevels" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>مستويات مباشر للشركة</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Users/GetUserPointsHistory" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>نقاط الاعضاء</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a href="/SystemAdmins" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>المديرين</p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
 