@{
    Layout = null;
}
<head>
    <script src="/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <script src="/AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>

</head>
<body>
    <p align="center" dir="RTL">
        <strong>الشروط و الأحكام</strong>
        <strong></strong>
    </p>
    <p align="center" dir="RTL">
        <strong>أولا التعريفات</strong>
    </p>
    <p dir="RTL">
        <strong>مياه ريفان</strong>
        <strong></strong>
    </p>
    <p dir="RTL">
        هي مياه معقمة ومعبأة تم إنتاجها من عمليات تقليل ملوحة ومعالجة لمياه بئر
        جوفي.
    </p>
    <p dir="RTL">
        <strong>قوارير المياه</strong>
    </p>
    <p dir="RTL">
        قوارير المياه (ويقصد به الحاويات و الاغطية التي تصنع من مادة بلاستيكية
        صالحة للأستخدام في مياه الشرب و تحمل الرمز (1) و تكون مصنعه من مادة (PET)
        العالية الجودة أو (7) و تكون مصنعة من مادة (PC) في جدول بلاستيكات إعادة
        التدوير) .
    </p>
    <p dir="RTL">
        <strong>الجالون</strong>
    </p>
    <p dir="RTL">
        ويقصد به الجالون الامريكي و هو يعادل (3.78) لتر.
    </p>
    <p dir="RTL">
        <strong>اللتر</strong>
    </p>
    <p dir="RTL">
        يعادل (1000) ملليلتر.
    </p>
    <p dir="RTL">
        <strong>محتوى الاملاح الذائبة و الرقم الهيدروجيني</strong>
    </p>
    <p dir="RTL">
        و يقصد بها الكمية الكلية للأملاح الذائبة (TDS) في المياه التي تتكون من
        الكالسيوم والمغنيسيوم والبوتاسيوم والصوديوم، والكربونات والنترات
        والبيكربونات والكلوريدات والكبريتات أما الرقم الهيدروجيني (pH) في مياه
        الشرب المعبأة فهو درجة قياس حموضة أو قاعدية المياه وتضبط حسب تعليمات هيئة
        الغذاء و الدواء السعودية (SFDA)
    </p>
    @*<p align="right" dir="RTL">
            <a href="https://www.sfda.gov.sa/ar/food/news/pages/f28-1-2019a3.aspx">
                https://www.sfda.gov.sa/ar/food/news/pages/f28-1-2019a3.aspx
            </a>
        </p>*@
    <p dir="RTL">
        <strong>المياة الخام </strong>
        <strong></strong>
    </p>
    <p dir="RTL">
        هي مياة مستخرجة من البئر لم يتم معالجتها.
    </p>
    <p dir="RTL">
        <strong>معالجة المياه</strong>
    </p>
    <p dir="RTL">
        هي عملية إزالة أو تقليل أي عوالق أو ملوثات حتى تصبح هذه المياه مناسبة لغرض
        الشرب و تتم عبر تمريرالمياه الخام بعدة مراحل عبر مجموعة من الخزانات
        المعزولة تتصل بمجموعة من الفلاتر (الرملي و الكربوني و الخيطي) و المضخات
        (ضغط عالي و مضخات حقن).
    </p>
    <p dir="RTL">
        <strong>تعقيم المياه</strong>
    </p>
    <p dir="RTL">
        هي العملية التي يتم فيها قتل الأحياء الدقيقة والفيروسات المسببة للأمراض أو
        تعطيل آلية عملها أو حتى إزالتها و تتم بإحدى طريقتين كيميائية بواسطة حقن
        مواد مطهرة أو إذابة غازات معقمة أو فيزيائية بتمرير المياه تحت جرعة إشعاع.
    </p>
    <p dir="RTL">
        <strong>التناضح العكسي </strong>
        <strong></strong>
    </p>
    <p dir="RTL">
        يتم ضغط المياة بمضخة الضغط العالي المصنعة من مادة الاستانلس ستيل وذلك
        للتخلص من الاملاح الموجودة بالمياة خلال مجموعة من الاغشية و التي تعمل بفصل
        الاملاح عن المياة بشكل كلي أو جزئي.
    </p>
    <p dir="RTL">
        <strong>فحص المياة </strong>
        <strong></strong>
    </p>
    <p dir="RTL">
        فحص المياة الخام و المنتجة في المختبر و عمل التحليل الكيميائي و
        الميكروبيولوجي للتأكد من مطابقتها للمواصفات القياسية.
    </p>
    @*<p dir="RTL">
            <a href="https://www.talabat.com/ar/ksa/terms#collapse0"></a>
        </p>*@
    <p align="center" dir="RTL">
        <strong>
            @*<a href="https://www.talabat.com/ar/ksa/terms#collapse0">*@
            ثانيا اعتماد الاتفاقية
            </a>
        </strong>
    </p>
    <p dir="RTL">
        لكي تصبح عضواً في مياه ريفان ، يتعين عليك في البداية أن تقوم بتعبئة استمارة
        التسجيل، ثم الموافقة والتعهد على الالتزام بأحكام إتفاقية مستخدم مياه ريفان
        ، والانتظار حتى يتم اعتماد بياناتك المسجله في استمارة التسجيل للبدء في
        الحصول على خدمات مياه ريفان باستخدام التطبيق؛ فإنك بموجب هذا توافق على
        الالتزام باتفاقية مستخدم مياه ريفان.
        <br />
        <br />
        انت مسؤول عن اجراء كافة الترتيبات اللازمة لكي تقوم بالولوج الى تطبيق مياه
        ريفان، كما أنك مسؤول أيضا عن ضمان أن كافة الاشخاص الذين يدخلون إلى تطبيق
        مياه ريفان بالاسم الخاص بك الخاصة بك على علم بشروط هذا التطبيق، والتزامهم
        بها. وعند عرض أو تصفح أو استخدام أو الدخول الى التطبيق فإنك توافق على شروط
        الاستخدام الماثلة كاتفاق قانوني ملزم بينك وبين مياه ريفان بدون قيد او شرط.
        ان مصطلح "أنت" سوف يشير الى أي شخص او كيان يقوم بعرض أو استخدام أو الدخول
        أو تصفح التطبيق من خلال اسمك الخاص. في حالة عدم موافقتك على شروط الاستخدام
        الماثلة، فلا يجوز لك استخدام التطبيق.
    </p>
    <p dir="RTL">
        تحتفظ مياه ريفان بحق تعديل شروط الاستخدام الماثلة في أي وقت وبدون اشعار
        مسبق، وأنك توافق على أن كل زيارة تقوم بها إلى التطبيق سوف تخضع إلى شروط
        الاستخدام السارية المفعول في ذلك الوقت، وأن استمرار إستخدام الموقع الآن أو
        بعد التعديلات على شروط الاستخدام الماثلة يؤكد على أنك قمت بقراءة وقبول
        والموافقة على الالتزام بهذه التعديلات.
        <br />
        <br />
        هذه الشروط والأحكام تطبق على تطبيق مياه ريفان على أجهزة الآيفون، الآيباد،
        الأندرويد والهاتف المتصل بمتصفح الإنترنت.
    </p>
    <p dir="RTL">
        <strong></strong>
    </p>
    <p dir="RTL">
        <strong>
            @*<a href="https://www.talabat.com/ar/ksa/terms#collapse1">*@
            وصف الخدمات
            </a>
        </strong>
    </p>
    <p dir="RTL">
        <strong></strong>
    </p>
    <p dir="RTL">
        يسمح تطبيق مياه ريفان لأعضاءه الذين يوافقون على الاتفاقية بطلب المياه
        المعبأه و يقوم بتوصيلها.
        <br />
        يقدم لك تطبيق مياه ريفان طريقة سهلة لإيصال المياه المعبأة.
        <br />
        إن غرض هذا التطبيق هو تقديم خدمة بسيطة ومريحة الى العملاء وربطهم بالمندوبين
        في منطقتهم مما يختصر الكثير من الوقت للعملاء.
        <br />
        لقد أنشأنا تطبيق مياه ريفان ليكون مجمع الكتروني شامل لتوصيل مياه الشرب
        المعبأه خلال الانترنت.
        <br />
        ان تطبيق مياه ريفان خاص بالمصنع المسئول عن إنتاج مياه ريفان فقط و المعبأة
        في قوارير بالمصنع ولا يقوم بالتدخل بأي شكل من الأشكال في انتاج أو تصنيع أو
        إعداد منتج غير مياه ريفان ، وإن ما يقدمه هذا السوق عبر الانترنت إلى
        المستخدمين هو فقط توفير إمكانية البحث والعثور على كراتين مياه أخرى وتوصيلها
        الى عناوينهم والطلب من خلاله. وإن هذه الشركات الاخرى مسئولة بمفردها عن
        الإلتزام بالقوانين واللوائح والانظمة والمقاييس والمعايير المطبقة في الدولة
        مثل التي تتعلق بإعداد و تصنيع وبيع وتسويق وسلامة المياه.
        <br />
        إلا أنه من الأهمية بمكان أن يفهم المستخدمين أن تطبيق مياه ريفان لا يؤكد بأي
        شكل وعلى نحو مستقل على اعتماد والتعهد بمنتجات المياه أو مكونات أو نوعية أية
        منتجات أو أن الشركات المنتجة للمياه ملتزمة بالقوانين واللوائح المعمول بها
        لتصنيع مياه الشرب حيث أن هذه المسئولية تقع على عاتق المصنع المنتج بمفرده.
        ويتعين على المشترين الاطلاع على المعلومات المقدمة من المصانع على الموقع على
        الشبكة أو التي يطلبها المشترون مباشرة من خدمة عملاء المصنع من حيث نوعية
        الاملاح المعدنية و طرق التعقيم و التصنيع و التعبئة، وكذلك التزامه بالقوانين
        واللوائح المعمول بها.
        <br />
        ولا يضمن تطبيق مياه ريفان بأي طريقة كانت نوعية أي مياه وجودته، أو أن المياه
        المعبأة غير متوافقة مع القوانين واللوائح المعمول بها.
        <br />
        إن المشترين وحدهم مسؤولين عن التأكد من صحة عناوين التوصيل ولن يكون على
        تطبيق مياه ريفان أي التزام أو مسؤولية عن أية عناوين خاطئة. مع العلم بأن
        إدارة المستودعات و المصنع سوف يقوم باتخاذ كافة الوسائل الممكنة التي يمكنه
        القيام بها للوفاء بوقت التوصيل المحدد، ومع ذلك قد يتأثر وقت التوصيل بعوامل
        خارج سيطرته ولذلك لا يمكن ضمانها. وسوف نبلغكم في حالة علمنا بأي تأخير غير
        متوقع.
    </p>
    @*<p dir="RTL">
            <strong>
                <a href="https://www.talabat.com/ar/ksa/terms#collapse2"></a>
            </strong>
        </p>*@
    <p dir="RTL">
        <strong>
            @*<a href="https://www.talabat.com/ar/ksa/terms#collapse2">*@
            كيف يتم تقديم الطلب وكيف يتم تنفيذه
            </a>
        </strong>
    </p>
    <p dir="RTL">
        عند قيامك باختيار طلب من قائمة التوصيل المتوفرة لديك، و التي هي عبارة عن
        شاشة لعرض المنتجات و اسعارها, و كل ما عليك هو تحديد الكميات المطلوبة و سوف
        يظهر لك في النهاية السعر الاجمالي للمنتجات التي قمت بتحديدها.    <strong></strong>
    </p>
    <p dir="RTL">
        عند التأكد من كل البيانات عليك الضغط على زر "تأكيد الطلب".
    </p>
    <p dir="RTL">
        يرجى الملاحظة أنه من المهم أن تقوم بمراجعة المعلومات التي تقوم بإدخالها
        وتصحيح أي أخطاء قبل الضغط على زر "تأكيد الطلب" ، نظرا لأنه عند الضغط على
        هذا الادخال فسوف لا يمكن تصحيح الاخطاء. وعند استلامنا طلبك، سوف يبدأ تطبيق
        مياه ريفان في تنفيذ الطلب وسوف نرسل رسالة في الصفحة النهائية تُفيد بأنه قد
        تم استلام طلبك و تسليمه بنجاح.
        @*<strong>
                <a href="https://www.talabat.com/ar/ksa/terms#collapse3"></a>
            </strong>*@
    </p>
    <p dir="RTL">
        @*<strong>
                <a href="https://www.talabat.com/ar/ksa/terms#collapse3">
                    الغاء الطلب
                </a>
            </strong>*@
    </p>
    <p dir="RTL">
        يحق لك إلغاء الطلب خلال التطبيق.
        <br />
        بالرغم من بذل كل جهد لضمان الحفاظ على الأسعار والأوصاف الصحيحة، إلا أننا
        نحتفظ بحق إلغاء أي طلب يحتوي على معلومات غير صحيحة.
        <br />
        يجوز إلغاء الطلب بعد ذلك بواسطة المندوب بعد استلامك رسالة التأكيد. ويحتفظ
        تطبيق مياه ريفان معها بحق إلغاء أي طلب قبل أو بعد القبول، وسوف نقوم بإبلاغك
        فوراً بأي إلغاء مذكور.
    </p>
    <p dir="RTL">
        يجوز إلغاء الطلب بواسطة المندوب أو الادارة إذا لم يلتزم العميل بسلوكيات
        متعاونه معنا تتيح لنا تقديم الخدمة بسرعة و لياقه.
    </p>
    <p dir="RTL">
        <strong>
            @*<a href="https://www.talabat.com/ar/ksa/terms#collapse4">*@
            نظام العضوية في تطبيق مياه ريفان
            </a>
        </strong>
    </p>
    <p dir="RTL">
        أي عضو في تطبيق مياه ريفان يحصل على "اسم مستخدم" و"كلمة سر" يتم تحديدها
        بواسطة العضو نفسه. إن "اسم المستخدم" شخصي ويقتصر على العضو وحده، ونفس "اسم
        المستخدم" لا يتم منحه إلى عضوين مختلفين. كما أن "كلمة السر" تكون معلومة
        للمستخدم وحده. ويمكن للمستخدم تغيير كلمة السر في أي وقت. كما أنه من مسؤولية
        المستخدم وحده اختيار وحماية كلمة السر. إن تطبيق مياه ريفان غير مسؤول عن أي
        مشاكل قد تنشأ عن استخدام كلمة السر. ويقوم تطبيق مياه ريفان بإبلاغ المستخدم
        عن العروض التي تتم في منطقته والتي يمكن للمستخدم الاستفادة منها عن طريق
        الرسائل الالكترونية. إن تطبيق مياه ريفان لا يشارك معلومات المستخدم مع الغير
        من الشركات، وقد يتم مشاركة رقم الهاتف مع المندوب الذي يتعامل مع الطلبات
        الخارجية ، لكي يتم تقديم خدمة توصيل سريعة وصحيحة. ولكي يقوم المستخدم
        بالاستفادة من خدمات طلبات التي تتطلب عضوية في تطبيق مياه ريفان ، يتعين على
        المستخدم إدخال اسم المستخدم وكلمة السر. ويطلق على هذه العملية "تسجيل
        الدخول" الى تطبيق مياه ريفان.
        <br />
        <br />
        عند استخدام تطبيق مياه ريفان ، فأنت تضمن أن أية معلومات شخصية مقدمة منك
        صحيحة ودقيقة وسارية المفعول وكاملة من كافة النواحي وانك سوف تقوم بابلاغنا
        فورا بأي تغييرات على معلوماتك الشخصية عن طريق تحديث معلومات العضوية الخاصة
        بك على الموقع أو عن طريق الاتصال بنا. وتوافق على عدم تقمص شخصية أي شخص او
        جهة اخرى او استخدام اسم مزور او اسم لا تكون مصرح باستخدامه.
        <br />
        لا يسمح لك بتسجيل عضويات متعددة للاستخدام بواسطة نفس الشخص. وقد ينتج عن
        انتهاك هذا البند انهاء عضويتك. و لكن يسمح لك التسجيل على نفس التطبيق بعدة
        أسماء أخرى إذا كان لديك أكثر من موقع للتوصيل.
        <br />
        يجب الاحتفاظ بكلمات السر الخاصة بالاعضاء في سرية تامة في كافة الاوقات ولا
        يجب مشاركتها أو الكشف عنها إلى أي شخص آخر. انت مسؤول عن كافة الانشطة
        والطلبات التي تحدث او التي يتم تقديمها عن طريق عضويتك. واذا اصبحت على علم
        او اشتبهت في ان هناك شخص يعلم كلمة السر الخاصة بك، عندئذ يتعين عليك الاتصال
        بنا فورا (00966545124744).
        <br />
        <strong>لا يجوز لك استخدام تطبيق </strong>
        <strong>مياه ريفان</strong>
        <strong> لأي غرض غير مشروع أو غير مصرح به، بما في ذلك وبدون حصر</strong>
        <strong>:</strong>
        <br />
        توزيع أي مواد غير قانونية، تشهيرية، مسيئة، تهديدية، ضارة، خليعة أو مواد
        معترضة للموقع.
        <br />
        ارسال مواد تشكل مخالفة للقانون أو الأديان أو العقائد والمذاهب أو الأخلاق،
        وينتج عنها مسؤولية مدنية او خلاف ذلك تنتهك أي قوانين ولوائح أو أنظمة أو
        ممارسات.
        <br />
        التدخل باستخدام او استمتاع أي شخص بالموقع .
        <br />
        التسبب في الإضرار بالتطبيق أو اعاقة أو التقليل من تشغيل هذا التطبيق أو
        محاولة الحصول على حرية ولوج غير مصرح به إلى هذا التطبيق أو الى الشبكات
        الموصلة به، عن طريق القرصنة أو الخداع او أي وسائل اخرى مشابهة.

    </p>
    <p dir="RTL">
        <strong>
            مسؤوليات العضو
            </a>
        </strong>
    </p>
    <p dir="RTL">
        <strong>خلال استخدام خدمات تطبيق </strong>
        <strong>مياه ريفان</strong>
        <strong> ، يقبل العضو ويقر بما يلي</strong>
        <strong> :</strong>
        <br />
        ان المعلومات الواردة في استمارة التسجيل صحيحة، بشرط ان تكون هذه المعلومات
        مطلوبة، وأن العضو هو المسؤول وحده عن أية خسائر قد تنشأ عن أية معلومات خاطئة
        او معلومات غير كافية (على سبيل المثال نسيان كلمة السر) وفي تلك الحالات يتم
        انهاء عضويته.
        <br />
        ان العضو هو وحده المسؤول عن كافة الافكار والاراء والبيانات الشخصية التي
        يذكرها اثناء استخدامه خدمات تطبيق مياه ريفان ، وكذلك مسؤولا عن كافة
        المعلومات الشخصية المرسلة، وإن تطبيق مياه ريفان لن يكون مسؤول بأي شكل من
        الأشكال عن تلك المعلومات، أو عن الولوج الى أي خدمات مقدمة عبر تطبيق مياه
        ريفان يكون غير مصرح بها أو بأي طريقة أخرى غير تلك المحددة بواسطة تطبيق مياه
        ريفان ، وعدم تغيير البرمجيات باي طريقة، وتعويض تطبيق مياه ريفان عن كافة
        الخسائر المادية والادبية في حالة عدم التزام العضو بالمواد المذكورة اعلاه.
        ولن يكون تطبيق مياه ريفان مسؤول عن أي اضرار قد تنشأ عن قراءة البيانات
        العائدة الى أي أعضاء بواسطة أي افراد غير مصرح لهم. ويجب على العضو عدم ارسال
        أي رسائل تكون تهديدية، أو غير أخلاقية، أو عنصرية أومناقضة لقوانين المملكة
        العربية السعودية والاتفاقيات الدولية. وأي مراسلات أو عناوين أو اسماء
        مستعارة يجب ألا تكون مخالفة للوائح والآداب العامة والسلوك الحسن والقوانين.
        ويلتزم بعدم مضايقة و/أو تهديد المستخدمين الآخرين، أو أي من موظفي خدمة
        العملاء التابعين تطبيق مياه ريفان أو مياه ريفان، وعدم التصرف بطريقة تؤثر
        على استخدام الخدمات من قبل المستخدمين الاخرين، وعدم ارسال، طباعة، أو توزيع
        أو تعميم أية مواد لا أخلاقية، غير مناسبة وغير قانونية أومعلومات قد تسبب
        ضررا بأسماء أي أشخاص أو مؤسسات، أو الاعلان، أو البيع أو العرض لبيع أي
        منتجات أو خدمات، أو المشاركة في أي أفعال ضارة مثل المسح، أو المنافسة أو
        الرسائل المتسلسلة، وعدم ارسال أي معلومات أو برامج قد تؤدي الى الضرر
        بالمعلومات أو البرمجيات على أجهزة المستخدمين الآخرين. وكافة السجلات أو
        المواد التي يتم الحصول عليها بواسطة استخدام خدمات تطبيق مياه ريفان تكون ضمن
        موافقة المستخدم، وسوف يكون المستخدم مسؤولا تماماً عن أي اضرار أو فقد
        المعلومات أو أي خسائر اخرى ناتجة عن ذلك لجهاز كمبيوتر المستخدم، ولا يحق
        للمستخدم المطالبة بالتعويض عن أي خسائر تنشأ عن استخدام الخدمة، كما يلتزم
        بعدم استخدام خدمات تطبيق مياه ريفان لاي اغرض تجارية أواعلانية بدون الحصول
        على موافقة إدارة مياه ريفان.
        <br />
        <br />
        ا. قد يقوم تطبيق مياه ريفان بمراقبة كافة الانظمة في أي وقت او باستمرار
        <br />
        ب. قد يقوم تطبيق مياه ريفان باستخدام نظامها لاغراض تجارية.
        <br />
        عدم ارسال أي معلومات بالبريد الإلكتروني تكون محظورة قانونيا أوتوزيع أي
        رسائل غير معتمد ارسالها مثل رسائل البريد المتسلسلة والبرامج الضارة الخ،
        وعدم تسجيل واساءة استخدام أي معلومات شخصية عائدة الى الاخرين. ان العضو نفسه
        مسؤول عن كافة انواع التصرفات التي يتم القيام بها تحت اسم "المستخدم". ويتعين
        على الاعضاء دفع رسوم الخدمة التي تم طلبها مسبقا عند تسليم المنتجات، وخلاف
        ذلك لن يتم تسليم المنتجات الى العملاء، وعدم الولوج الى الموقع او الخدمات
        باستخدام حساب/تسجيل طرف ثالث بدون موافقة صريحة من حامل الحساب، وعدم استخدام
        تطبيق مياه ريفان لاغراض غير قانونية، وعدم ارتكاب أي تصرفات مخالفة على
        الموقع او فيما يخص المحتوى على الموقع، وعدم استخدام الموقع للقيام بأي انشطة
        تجارية غير الاستخدام المصرح له لخدمات تطبيق مياه ريفان ، وعدم نسخ أي محتوى،
        بما في ذلك وبدون حصر محتوى قوائم الطلبات ومراجعات الغير، لاعادة النشر بشكل
        مطبوع او عبر الانترنت، وعدم انشاء مراجعات الطلبات او تسجيل أي ادخالات لصالح
        او مع أي غرض تجاري او غرض اخر او قصد لا يتفق بنية حسنة مع غرض إنشاء
        التطبيق، وعدم محاولة الحصول على حرية دخول غير مصرح بها الى انظمة كمبيوتر
        الاخرين من او عن طريق تطبيق مياه ريفان وعدم التدخل في استخدام شخص آخر أو
        جهات أخرى للموقع ، وعدم تحميل او نقل الفيروسات او الملفات الضارة والتخريبية
        او التدميرية الاخرى، و/او عدم تعطيل، التدخل في او حتى التسبب في ضرر أو
        مخالفة أمن الموقع، او أي خدمات، البرمجيات او الأجهزة المرتبطة بالنظام،
        الحسابات، كلمات السر، الخوادم او الشبكات المرتبطة بالموقع أو التي يتم
        الدخول إليها عن طريق المواقع أو المواقع الزميلة أو الموصلة.
        <br />
        يتعين على كافة المستخدمين من القصر في المكان الذي يقيمون فيه (عموما تحت 18
        سنة) الحصول على تصريح من ولي أمرهم، ويتم الاشراف عليهم مباشرة بواسطة ولي
        امرهم او الاب /الام عند استخدام الموقع. اذا كنت قاصر، يتعين على ولي امرك/
        والدك قراءة هذه الاتفاقية والموافقة عليها قبل قيامك باستخدام الموقع على
        الشبكة.
        <br />
        بطاقات الإئتمان أو الدفع المسبق التي يستخدمها العميل في السداد من خلال
        بوابة الدفع الإلكتروني على موقع أو تطبيق مياه ريفان يتوجب أن تعود ملكيتها
        للعميل نفسه. في حال كانت ملكية البطاقة تعود لشخص آخر فيتوجب على العميل
        إستخدامها بصورة قانونية وذلك بموافقة صاحب البطاقة.
    </p>
    <p dir="RTL">
        <strong>
            مواد وسلوك الزائرين
            </a>
        </strong>
    </p>
    <p dir="RTL">
        بخلاف المعلومات الشخصية، التي تم تغطيتها في سياسة الخصوصية لتطبيق مياه
        ريفان ، فإن أي مواد تقوم بارسالها او نشرها على هذا التطبيق على الشبكة سوف
        تعتبر غير سرية وغير شخصية. ولن يكون على تطبيق مياه ريفان أي التزامات فيما
        يخص هذه المواد. وسوف يكون تطبيق مياه ريفان واي شخص نقوم بتعيينه الحرية لنسخ
        وتصحيح وتوزيع وتضمين أو أي استخدام خلاف ذلك لهذه المواد وكافة البيانات
        والصور والاصوات والنصوص والاشياء الاخرى المشمولة فيه لأي ولكافة الاغراض
        التجارية او غير التجارية.
        <br />
        <strong>
            يحظر عليك نشر وتحميل أو ارسال إلى أو من الموقع على الشبكة أي من المواد
            التالية
        </strong>
        <strong>:</strong>
        <br />
        تنتهك أي قانون محلي، وطني او دولي معمول به.<strong></strong>
    </p>
    <p dir="RTL">
        غير مشروعة او احتيالية تصل الى حد الاعلان غير المصرح به او تحتوي على
        فيروسات او أي برامج اخرى ضارة.
        <br />
        لا يجوز لك اساءة استخدام تطبيق مياه ريفان (بما في ذلك بواسطة القرصنة).
        <br />
        أي تعليقات أو ملاحظات يضعها المستخدم على التطبيق يجب ألا تحتوي على أي مواد
        تشهيرية، خليعة او مخالفة أو تعزز العنف او التمييز أو تنتهك حقوق الملكية
        الفكرية لشخص اخر أو تنتهك أي واجب قانوني تجاه طرف ثالث (مثل واجب السرية) أو
        تعزز النشاط غير القانوني او تخترق خصوصية الاخر أو تقدم انطباعا انها صادرة
        عنا او يتم استخدامها لتقمص شخصية شخص اخر او تقديم معلومات خاطئة عن ارتباطك
        بشخص اخر.
        <br />
        إن التصرفات المحظورة الواردة في الفقرات اعلاه غير حصرية. وسوف تقوم بتعويض
        مياه ريفان عن كافة النفقات والاضرار التي تتحملها كنتيجة لانتهاكك لأي من تلك
        القيود.
        <br />
        <br />
        سوف تقوم مياه ريفان بالتعاون بالكامل مع أي جهات تنفذ القانون او قرارات
        المحكمة التي تطلب منا او توجهنا للتصريح عن هوية أو موقع أي شخص يقوم بنشر أي
        مواد بمخالفة الفقرات المذكورة أعلاه .
        <strong>
        </strong>
    </p>
    <p dir="RTL">
        <strong>
            الانشطة المحظورة
            </a>
        </strong>
    </p>
    <p dir="RTL">
        لا يجوز لك الدخول الى او استخدام تطبيق مياه ريفان لاي غرض اخر بخلاف ذلك
        الذي تقوم تطبيق مياه ريفان بتوفيره. ان تطبيق مياه ريفان هو للاستخدام الشخصي
        للمستخدمين فقط ولا يجوز استخدامه بالارتباط مع أي مصالح تجارية باستثناء تلك
        التي تم اقرارها او اعتمادها تحديدا من تطبيق مياه ريفان. في حال إرتكاب
        المستخدم أي أنشطة محظورة، فإن الشركة لديها الحق في تعليق، أو منع أو إنهاء
        عضوية المستخدم ومنع دخوله إلى الخدمة. تتضمن الانشطة المحظورة ولا تقتصر على
        ما يلي:
        <br />
        النشاط الجنائي او التقصيري، بما في ذلك الافلام الخلاعية للاطفال، الاحتيال،
        التجارة في المواد الخليعة، الاتجار في المخدرات، القمار، التحرش، المطاردة،
        البريد الالكتروني غير المرغوب فيه، انتهاك حقوق النشر، انتهاك براءات
        الاختراع او سرقة الاسرار المهنية.
        <br />
        ‌الاعلان او استدراج أي شخص لشراء او بيع أي منتجات او خدمات، ما لم يكن ذلك
        مصرح من تطبيق مياه ريفان.
        <br />
        ‌الاستعادة النظامية للبيانات او المحتويات الاخرى من الموقع على الشبكة
        لانشاء او تأليف، بشكل مباشر أو غير مباشر، مجموعة، مؤلف ، قاعدة بيانات، او
        دليل بدون أي تصريح خطي من إدارة مياه ريفان.
        <br />
        ‌القيام بأي استخدام غير مصرح به لخدمات مياه ريفان ، بما في ذلك جمع اسماء
        المستخدمين و/أو عناوين البريد الالكتروني للمستخدمين بواسطة وسائل الكترونية
        او اخرى لغرض ارسال بريد الكتروني غير مرغوب فيه.
        <br />
        ‌‌المشاركة في أي صياغة غير مصرح بها او ربطها بالتطبيق.
        <br />
        ‌ارسال رسائل متسلسلة او بريد الكتروني غير مرغوب فيه الى المستخدمين الاخرين.
        <br />
        ‌استخدام أي معلومات يتم الحصول عليها من تطبيق مياه ريفان لكي يتم الاتصال،
        الاعلان عن، او استدراج او البيع الى أي مستخدم بدون موافقته الصريحة المسبقة.
        <br />
        ‌المشاركة في أي استخدام اتوماتيكي للنظام مثل ارسال النصوص لاضافة الاصدقاء
        او ارسال الملاحظات او الرسائل او استخدام أي ادوات استخراج بيانات او ادوات
        جمع واستخراج بيانات اخرى
        <br />
        ‌التدخل في، تعطيل او انشاء عبء غير مبرر على تطبيق مياه ريفان او الشبكات او
        الخدمات المرتبطة بالموقع.
        <br />
        ‌‌محاولة تقمص شخص او مستخدم اخر.
        <br />
        ‌‌استخدام اسم المستخدم العائد الى شخص اخر.
        <br />
        ‌‌بيع او بخلاف ذلك تحويل البيانات الخاصة بك.
        <br />
        ‌استخدام أي معلومات تم الحصول عليها من الموقع لكي يتم مضايقة، الاساءة الى
        او الضرر بشخص اخر.
        <br />
        ‌استخدام خدمة تطبيق مياه ريفان كجزء من أي جهد لمنافسة تطبيق مياه ريفان او
        تقديم الخدمات كمكتب خدمة.
        <br />
        ‌فك شفرة، فك تأليف، تفكيك او عكس هندسة أي من البرمجيات التي يتكون منها
        الموقع أو تشكل جزءا من تطبيق مياه ريفان.
        <br />
        ‌محاولة تجاوز أي اجراءات للموقع مصممة لمنع او تقييد الدخول الى الموقع او أي
        جزء من الموقع.
        <br />
        مضايقة، ازعاج، ترهيب او تهديد إدارة مياه ريفان من خلال أي وسيلة إتصال أو
        لأي موظفي او وكلاء تابعين لمياه ريفان أو من يشاركون في تقديم أي جزء من
        خدمات تطبيق مياه ريفان.
        <br />
        ‌عرض اعلان او قبول مدفوعات او أي شيء ذي قيمة من الغير مقابل قيامك بأداء أي
        نشاط تجاري على او عن طريق الموقع نيابة عن ذلك الشخص، مثل نشر البلوجات أو
        النشرات ذات الغرض التجاري.
        <br />
        ‌حذف حقوق النشر او اشعار حقوق الملكية الاخرى من أي مساهمة او محتوى على
        تطبيق مياه ريفان.
        <br />
        ‌‌استخدام تطبيق مياه ريفان باي اسلوب لا يتفق مع أي وكافة القوانين واللوائح
        المعمول بها.
        <br />
        أي إشتباه بالقيام بعمليات غير مشروعة على تطبيق مياه ريفان.
    </p>
    <p dir="RTL">
        <strong>
        </strong>
    </p>
    <p dir="RTL">
        <strong>
            سلطة تطبيق مياه ريفان
            </a>
        </strong>
    </p>
    <p dir="RTL">
        يجوز ان يقوم تطبيق مياه ريفان بشكل مؤقت بتوقيف او التوقف تماما عن تشغيل
        النظام في أي وقت.
        <br />
        لن يكون على تطبيق مياه ريفان أية مسؤوليات تجاه اعضاء تطبيق مياه ريفان او أي
        طرف ثالث بسبب التوقيف المؤقت او التوقف الكامل لتشغيل النظام.
        <br />
        سوف يتم عرض اسم المستخدم وكلمة السر واعتماده بعد تعبئة بيانات النموذج الذي
        سيتم تقديمه الى العملاء بواسطة تطبيق مياه ريفان. ويجوز ان يقوم تطبيق مياه
        ريفان بمنع عملائها الذين قاموا بتعبئة بيانات النموذج أو تواصلوا مع تطبيق
        مياه ريفان ، بالرغم من ان لديهم كلمات سر من الحصول على كلمة سر جديدة او من
        استخدام كلمات السر الخاصة بهم لمدة زمنية غير محددة؛ اذا اعتبر تطبيق مياه
        ريفان ذلك ضروري.
        <br />
        لا يضمن تطبيق مياه ريفان أن خدماته سوف يتم تقديها في الوقت المحدد بطريقة
        آمنة وتامة، وان النتائج التي سيتم الحصول عليها من الخدمات سوف تكون صحيحة
        وموثوق فيها، وان نوعية الخدمات سوف ترقى إلى مستوى التوقعات، حيث ان دور
        تطبيق مياه ريفان ينحصر في إخطار المندوب بطلبات العميل.
        <br />
        يحق لتطبيق مياه ريفان ان تقوم بدعم وحذف كافة او بعض الملفات والرسائل التي
        يتم تقديمها بواسطة الاعضاء أثناء استخدام الخدمات لبعض الوقت وذلك خلال
        الفترات التي تعتبر مناسبة بواسطة تطبيق مياه ريفان . ولن يكون تطبيق مياه
        ريفان مسؤول عن اجراءات الدعم والحذف.
        <br />
        إن تطبيق مياه ريفان لديه حقوق الملكية والنشر الناشئة عن ملكية المعلومات
        والمستندات والبرمجيات والتصميمات والرسوم البيانية الخ، التي تقوم بانتاجها
        بنفسها و/او يتم شراءها من الخارج.
        <br />
        وتطبيق مياه ريفان ليس مسؤول عن أي طلبية مياه يتم طلبها ولم يتم توصيلها من
        قبل المندوب بسبب عدم توفرها.
        <br />
        يحق لتطبيق مياه ريفان نشر أي معلومات ومستندات وبرمجيات وتصميمات ورسوم
        بيانية الخ (مثل الرسائل والاشعار والتقارير/الاخبار والملفات المرسلة الى
        النشرات) التي يتم انتاجها بواسطة الاعضاء وتحميلها الى النظام بواسطة الاعضاء
        و/أو يتم ارسالها الى مكان اخر ضمن الموقع يعتبر ملائم بواسطة تطبيق مياه
        ريفان ومن المحتمل ان يتم نسخ و/او نشر هذه المعلومات بواسطة المستخدمين
        الاخرين. وفي تلك الاحوال، لن يطلب المستخدمين أي اتعاب من تطبيق مياه ريفان.
        <br />
        ان الالتزام بتغيير المعلومات المتعلقة بالسعر ومواصفات المنتج التي يتم
        تقديمها للبيع عبر تطبيق مياه ريفان يعود الى الشركات و المصانع التي تقوم
        بتعبأة المياه. وفي حالة أية معلومات خاطئة تتعلق بالسعر ومواصفات المنتج،
        يجوز ان يقوم تطبيق مياه ريفان بتصحيح الخطأ عن طريق الغاء الطلب.
        <br />
        يجوز ان يقوم تطبيق مياه ريفان بارسال العضو الى موقع اخر على التطبيق. وفي
        هذه الحالة، يوافق العضو على ان تطبيق مياه ريفان لن يكون مسؤول عن سياق محتوى
        الموقع الذي يجوز للعضو الولوج اليه.
        <br />
        يجوز ان يقوم تطبيق مياه ريفان باي تغييرات على تنفيذ هذه الاتفاقية وتعديل
        المواد القائمة او اضافة مواد جديدة لغرض الالتزام بأي التزامات فنية وتشريعات
        يتم اصدراها في المستقبل.
        <br />
        يجوز ان يقوم تطبيق مياه ريفان بتغيير الخدمات التي لا تتطلب عضوية الى شكل
        يتطلب عضوية. ويجوز ان يقوم تطبيق مياه ريفان بتقديم خدمات اضافية وتغيير بعض
        الخدمات جزئيا او بالكامل او تحويلها الى خدمة مدفوعة.
        <br />
        يجوز ان يكون هذا الموقع غير متاح في بعض الاوقات للسماح بعمليات الصيانة
        والتحديث. وبالرغم من اننا سوف نسعى لابلاغ العملاء مسبقا بعدم توفر أي خدمة
        مذكورة، الا ان ذلك لا يمكن ضمانه ونحتفظ بحق تعديل او سحب الخدمة في أي وقت.    <a href="https://www.talabat.com/ar/ksa/terms#collapse9"></a>
    </p>
    <p dir="RTL">
        <strong>
            المبادئ الأساسية للتعليق من خلال خدمة التقييم و اضافة التعليقات
            </a>
        </strong>
    </p>
    <p dir="RTL">
        تتم الموافقة على التعليقات المرسلة من المستخدمين وفق المعايير التالية:
        <br />
        العلاقة المباشرة:
        <br />
        يجب أن يكون الشخص صاحب التعليق قد اختبر الخدمة مباشرة من خلال تطبيق مياه
        ريفان.
        <br />
        <br />
        المحتوى المقبول للتعليق:
        <br />
        تطبيق مياه ريفان غير ملزم بقبول أي من التعليقات التي يتم ارسالها عن طريق
        المستخدمين، ومن بعض الأسباب التي يمكن ان نرفض نشر التعليقات بسببها هي
        كالآتي:
        <br />
        التعليقات التي تحتوي على لهجة هجومية، إباحية ، اسائية ، عنصرية ، لغة
        الكراهية ، كلها أمـور لا يمكننا نشرها على تطبيق مياه ريفان.
        <br />
        تعليقات ليس لها علاقة بموضوع تقييم خدمة مياه ريفان.
        <br />
        التعليقات التي تتضمن التمـييز القائم على الـدين، العـرق، الجنس، العمر،
        الحالة الزوجية أو الإعـاقة الجسدية او الفكرية.
        <br />
        أي محتوى له دلالات أو اشارات تخالف تقاليد المجتمع، أو تدعو الى توجه غير
        قانوني.
        <br />
        تضارب المصالح : حيث لا يُسـمح للشركات المنافسة وضع أي تعليقات سلبية.
        <br />
        الادعاءات المتعلقة بمخالفة قوانين الصحة العامة.
        <br />
        التعليقات التي تعكس معلومات قديمة وغير نافذة أو معلومات ليست علمية و التي
        ليس لها أساس علمي او قائمة على التقييم الخاطئ من قبل العميل يرجع ذلك لوجود
        خلل عنده.
        <br />
        أصحاب التعليقات لا يمثلون رأي تطبيق مياه ريفان على الإطلاق ولا الشركة
        المالكة الرئيسية، ولا أي من الشركات التابعة. موقع تطبيق مياه ريفان غير
        مسـؤول عن أي إلتزامات أو مطالبات أو خسائر ناتجة عن أي من التعليقات المنشورة
        أو أي من المحتوى الموجود على تطبيق مياه ريفان.
        <br />
        ملكية طلبات:
        <br />
        التعليقات المنشورة على تطبيق مياه ريفان هي ملك لموقع تطبيق مياه ريفان
        وملكيتها حصرية إلى الأبد. لدينا الحق في إعادة إنتاج وتعديل وترجمة ونقل و/أو
        توزيع جميع المواد المتعلقة بالتعليقات. تطبيق مياه ريفان ليس ملزم بأي شكل من
        الأشكال بالدفع لأصحاب التعليقات أو لأي شخص أو جهة اخــرى مقابل تعليقاتهم.
        <strong>
        </strong>
    </p>
    <p dir="RTL">
        <strong>
            انهاء الاتفاقية
            </a>
        </strong>
    </p>
    <p dir="RTL">
        يجوز ان يقوم تطبيق مياه ريفان بإنهاء هذه الاتفاقية من جانب واحد في أي وقت.

    </p>
    <p dir="RTL">
        <strong>
            القيود على الاستخدام غير الشخصي وغير التجاري
            </a>
        </strong>
    </p>
    <p dir="RTL">
        توافق على ان عواقب الاستخدام التجاري او اعادة نشر محتوى او المعلومات من
        الموقع بدون تصريح من مياه ريفان قد تكون جسيمة ولا يمكن تقديرها بحيث لا يكون
        التعويض النقدي كافي او ملائم وإن تطبيق مياه ريفان سوف يحق له اتخاذ قرار
        مؤقت ودائم لحظر هذا الاستخدام.
    </p>
    <p dir="RTL">
        <strong>
            توصيل المنتج
            </a>
        </strong>
    </p>
    <p dir="RTL">
        اثناء أي عملية توصيل للمنتج يتم القيام بها بواسطة المندوب، وفي حالة عدم
        تواجد العميل في العنوان المحدد في النظام، لن يتم تسليم طلب المياه التي
        طلبها العميل الى أي مكان اخر. وفي هذه الحالة، يتعين على العضو قبول كافة
        المسؤوليات القانونية الناشئة عن طلب مياه معبأه إلى عنوان لا يقيم فيه.
        <strong>
        </strong>
    </p>
    <p dir="RTL">
        <strong>
            إعادة المنتج
            </a>
        </strong>
    </p>
    <p dir="RTL">
        بالنسبة إلى اعادة المنتج، يتم تطبيق شروط اعادة المنتج الخاصة بالمصنع. إن
        تطبيق مياه ريفان لا يتحمل أي مسؤوليات عن النزاعات التي قد تنشأ عن شروط
        اعادة المنتج الخاصة بالمصانع الاخرى خلاف مصنع مياه ريفان.
    </p>
    <p dir="RTL">
        <strong>
            سياسة إعادة المال
            </a>
        </strong>
    </p>
    <p dir="RTL">
        إن تطبيق مياه ريفان يتعامل مع رضا العملاء بمنتهى الجدية. وفي حالة وجود
        مشاكل مع طلب أي طلبية، يرجى الاتصال بإدارة مبيعات مياه ريفان عبر المحادثة
        المباشرة لدينا عبر الهاتف (00966541424744) وسوف نقوم بمساعدتك ونحاول حل
        المشكلة، وفي الحالات التي تم فيها اصدار فاتورة لك عن طريق تطبيق مياه ريفان
        ، سوف يقوم تطبيق مياه ريفان برد كامل او جزء من المبلغ طبقا للحالات التالية:
        في حالة عدم حصولك على الطلب او استلام طلب غير صحيح، يجوز اصدار رد المبلغ
        كاملا لك، وفي حالة نقص جزء من طلبك، سوف نقوم باصدار رد جزء من المبلغ، وفي
        جميع الحالات، سوف نبذل قصارى جهدنا لضمان رضائك عن خدمة تطبيق مياه ريفان.
    </p>
    <p dir="RTL">
        في حال الدفع عن طريق بطاقات الائتمان لا يتم تسليم المبالغ المستردة للعملاء
        قبل 25 يوم من تاريخ الدفع.
    </p>
    <p dir="RTL">
        <strong>
            <a href="#">طرق الدفع</a>
        </strong>
    </p>
    <p dir="RTL">
        يستطيع العميل الاختيار بين طرق الدفع المختلفة على تطبيق مياه ريفان ، وهى في
        الوقت الحالي: نقداً عند الاستلام.
    </p>
    <p dir="RTL">
        في حال الدفع عن طريق الانترنت، يلتزم العميل النهائي باختيار احد طرق الدفع
        المتاحة عند الطلب، حيث سيتم التعامل مع عمليات الدفع عبر الانترنت من خلال
        مزودي خدمة الدفع عبر الانترنت.
    </p>
    <p dir="RTL">
        فقط في حال وافق العميل مسبقاً على ذلك، سيقوم مزودوا خدمة الدفع عبر الانترنت
        بالاحتفاظ ببيانات بطاقة العميل لاستخدامها فى حال الطلب لاحقا دون الحاجة الى
        ادخال البيانات البطاقة الائتمان عند كل عملية دفع.
        <br />
        يلتزم العميل دوماً بضمان ان رصيد البطاقة كافٍ لدفع قيمة الطلب وذلك قبل
        القيام بالطلب، كما يلتزم العميل باستخدام البطاقة ضمن الحد الائتمانى المسموح
        للبطاقة. كما يلتزم العميل بعدم التورط بعمليات رد المبالغ المدفوعة الغير
        مصرح بها.
    </p>
    <p dir="RTL">
        <strong>
            السعر والدفع

        </strong>
    </p>
    <p dir="RTL">
        عند قبول طلبك، فإن ذلك يمثل اتفاق بينك كعميل وبين مندوب المستودع، وتقع على
        المستودع وحده المسؤولية عن هذا الطلب. ويتم الدفع النقدي مباشرةً الى المندوب
        الذي يقوم بتلبية الطلب. وفي حالة اختيارك للدفع عن طريق بطاقة ائتمان أو
        الدفع المسبق عبر الموقع، عندئذ سيتم تنفيذ المعاملة من خلال تطبيق مياه ريفان
        كوسيط بينك وبين المستودع.
        <br />
        بطاقات الدفع المسبق / الائتمان:
        <br />
        يرجى قراءة الشروط و الأحكام الخاصة بالخدمة قبل استخدام خدمة بطاقة الدفع
        المسبق / الائتمان:
        <br />
        إن العميل مسؤول عن الدفع إلى المستودع، وقد يقوم المستودع بفرض رسوم إضافية
        في حال أضاف العميل "طلب خاص" أو "طلب عام" إلى طلبه، وسوف يتم الدفع نقداً
        لهذه الطلبات الإضافية عند توصيل الطلب.
        <br />
        يحق للعميل إلغاء الطلب في حالة تجاوز زمن التوصيل أكثر من زمن التوصيل المحدد
        من قبل المستودع ، وسوف يتم رد المبلغ الذي قام العميل بدفعه الى حساب العميل.
        <br />
        يحق للعميل إلغاء الطلب خلال 5 دقائق بحد اقصى من قبول الطلب.
        <br />
        قد تستغرق عملية استرداد المبلغ لحساب العميل عبر بوابة الدفع الخاصة ببطاقة
        الدفع المسبق / الائتمان مدة 25 يوم عمل، وفي حال أي تأخير في إعادة قيد
        المبلغ لحساب العميل الذي قام بدفعه، يتوجب على العميل المتابعة مع البنك
        مباشرة وسوف نرسل رسالة إلكترونية للعميل تحتوي على نسخة مطبوعة من إشعار رد
        المبلغ المطبوع وذلك من بوابة الدفع الخاصة ببطاقة الدفع المسبق / الائتمان
        كمرجع له في حالة ما إذا رغب العميل في مراجعة البنك .
        <br />
        إن العملاء المستخدمين لخدمة الدفع الخاصة ببطاقة الدفع المسبق / الائتمان
        مطالبين بالتواجد على أرقام الاتصال الخاصة بهم.
        <br />
        سوف يتم تعويض العميل من قبل المستودع في حالة نقص أي جزء من الطلب (يسري
        التسديد فقط مقابل البند الناقص ويخضع التعويض للسياسة الخاصة بالمستودع)
        <br />
        بطاقات الإئتمان أو الدفع المسبق التي يستخدمها العميل في السداد من خلال
        بوابة الدفع الإلكتروني على موقع أو تطبيق مياه ريفان يتوجب أن تعود ملكيتها
        للعميل نفسه. في حال كانت ملكية البطاقة تعود لشخص آخر فيتوجب على العميل
        إستخدامها بصورة قانونية وذلك بموافقة صاحب البطاقة.
        <br />
        ان العميل مسؤول بالكامل عن تنفيذ وتقديم الطلب باستخدام خدمة الدفع الخاصة
        ببطاقة الدفع المسبق / الائتمان بعد القراءة الدقيقة لكافة الشروط والاحكام.
    </p>
    <p dir="RTL">
        <strong>
            صلاحية سجلات تطبيق مياه ريفان
        </strong>
    </p>
    <p dir="RTL">
        <strong></strong>
    </p>
    <p dir="RTL">
        في حالة النزاعات التي قد تنشا بالارتباط مع هذه الاتفاقية، يوافق العضو ويقر
        ان ادخال أي قيود وميكروفيلم وميكروفيش وسجلات كمبيوتر تشكل دليل ساري المفعول
        ونافذ ومطلق وشامل، ان هذه المادة لها خصائص عقد الاثبات وان العضو يتنازل
        مسبقا عن كافة انواع الاعتراضات على سجلات تطبيق مياه ريفان بالارتباط مع
        حقيقة ان هذه السجلات يتم الاحتفاظ بها بالشكل الواجب وفقاً للقانون.
    </p>
    <p dir="RTL">
        <strong>
            القانون الحاكم والاختصاص
        </strong>
    </p>
    <p dir="RTL">
        تخضع شروط هذا الموقع وتفسر وفقا للقانون. وسوف تخضع النزاعات الناشئة
        والمتعلقة بشروط الموقع الماثلة (بما في ذلك النزاعات غير التعاقدية) الى
        الاختصاص الحصري للمحاكم.
        <strong>
        </strong>
    </p>
    <p dir="RTL">
        <strong>
            التنفيذ
        </strong>
    </p>
    <p dir="RTL">
        في حالة اعتبار أي جزء من شروط الاستخدام الماثلة غير قانونية او باطلة او غير
        قابلة للتنفيذ لاي سبب، عندئذ سوف يعتبر هذا الحكم قابل للفصل عن شروط
        الاستخدام الماثلة ولن تؤثر على صلاحية وقابلية تنفيذ أي من الاحكام المتبقية
        لشروط الاستخدام الماثلة. ولن يتم تفسير أي تنازل من جانبنا كتنازل عن أي
        انتهاك سابق او لاحق لاي حكم.
        <strong>
        </strong>
    </p>
    <p dir="RTL">
        <strong>
            الترخيص
        </strong>
    </p>
    <p dir="RTL">
        يمنح تطبيق مياه ريفان لك التصريح (الذي يجوز الغاؤه في أي وقت لاي سبب وبدون
        سبب) لمشاهدة الموقع وللتحميل والتراسل الالكتروني والمشاركة عبر الشبكات
        الاجتماعية او طباعة الصفحات الفردية من الموقع وفقا لشروط الاستخدام الماثلة
        وفقط لاستخدامك الشخصي غير التجاري، شريطة عدم قيامك بإزالة أي علامة تجارية،
        اشعار حقوق نشر او اشعار اخر مشمول في هذه الصفحات. ولا يسمح بأي استخدام اخر.
        ولا يجوز ان تقوم، على سبيل المثال، بتضمين المعلومات والمحتوى او المواد
        الاخرى في أي قاعدة بيانات، مؤلف، ارشيف او ذاكرة مؤقتة. ولا يجوز ان تقوم
        بتعديل، نسخ، توزيع، اعادة نشر، ارسال، عرض، اداء، اعادة انتاج، نشر، اعادة
        استخدام، اعادة بيع، ترخيص، انشاء اعمال مشتقة من، تحويل او بيع أي معلومات،
        محتوى، مواد، برمجيات، منتجات او خدمات يتم الحصول عليها من الموقع، باستثناء
        ما هو مذكور تحديدا اعلاه. وباستثناء ما هو مصرح تحديدا من تطبيق مياه ريفان ،
        لا يجوز ان تقوم بالربط بالموقع لاي غرض او الولوج الى الموقع يدويا او عن
        طريق أي robot, spider, web crawler, extraction software او أي عملية
        اتوماتيكية او أداة لغرض كشط، نسخ او مراقبة أي جزء من الموقع او أي معلومات،
        محتوى، او مواد على المواقع. وتحتفظ طلبات دوت کوم بكافة حقوقها بموجب التشريع
        والقانون العام ضد أي شخص او جهة تنتهك هذه الفقرة. ولا يجوز ان تقوم بالربط
        او الوصل بأي صفحات بالموقع أو أي محتوى مشمول فيها، سواء بالكامل او جزئيا،
        بدون الموافقة الخطية المسبقة من إدارة مياه ريفان. وقد تشارك الوصلات مع
        الموقع عن طريق عن طريق المواقع الإجتماعية الموجودة على الموقع . وإن أي حقوق
        اخرى لم يتم منحها صراحة في هذه الشروط محتفظ بها. <strong></strong>
    </p>
    <p dir="RTL">
        <strong>
            حقوق الملكية الفكرية
        </strong>
    </p>
    <p dir="RTL">
        ان المحتوى على تطبيق مياه ريفان والعلامات التجارية وعلامات الخدمة والشعارات
        المشمولة في هذه الشروط (العلامات) مملوكة لدى مياه ريفان او تم ترخيصها الى
        تطبيق مياه ريفان وتخضع الى حقوق النشر وحقوق الملكية الفكرية الاخرى في
        المملكة العربية السعودية والمعاهدات الدولية. ان محتوى تطبيق مياه ريفان
        يتضمن بدون حصر كافة محتوى البرمجيات الأساسي وقواعد البيانات والوظائف
        والبرمجيات وتصميمات الموقع على الشبكة والصوت والفيديو والنص والصور
        الفوتوغرافية والرسوم البيانية. ان كافة الرسوم البيانية والشعارات والتصميمات
        ورؤوس الصفحات والايقونات والنصوص واسماء الخدمة العائدة الى طلبات دوت کوم هي
        علامات تجارية مسجلة وعلامات تجارية بموجب القانون العام او شكل تجاري لتطبيق
        مياه ريفان في الممكلة العربية السعودية و/أو بلدان اخرى. ولا يجوز استخدام
        العلامات التجارية والشكل التجاري العائد الى تطبيق مياه ريفان بما في ذلك
        كجزء من العلامات التجارية و/أو كجزء من اسماء النطاق، بالارتباط مع أي منتج
        او خدمة بأي اسلوب من المحتمل ان يسبب ارتباك ولا يجوز نسخها، تقليدها، او
        استخدامها سواء بالكامل او جزئيا بدون تصريح خطي مسبق من إدارة مياه ريفان. ان
        محتوى تطبيق مياه ريفان على موقع الشبكة يتم تقديمه إليك "كما هو" لمعلوماتك
        واستخدامك الشخصي فقط ولا يجوز استخدامه، نسخه، اعادة انتاجه، توزيعه، نقله،
        بثه، عرضه، بيعه، ترخيصه او بخلاف ذلك استغلاله لاي أغراض اخرى ايا كانت، بدون
        التصريح الخطي المسبق من المالكين المعنيين. ان الاستعادة النظامية للبيانات
        أو أي محتوى آخر من الموقع او لانشاء او تأليف، سواء بشكل مباشر او غير مباشر،
        مجموعة، مؤلف، قاعدة بيانات او دليل بدون التصريح الخطي من إدارة مياه ريفان
        محظور.
        <br />
        وبما انك مؤهل لاستخدام الموقع ، يتم منحك ترخيص محدود للولوج الى واستخدام
        التطبيق ومحتوى تطبيق مياه ريفان وتنزيل او طباعة نسخة عن أي جزء من محتوى
        تطبيق مياه ريفان الذي حصلت على حرية الدخول اليه بشكل صحيح فقط للاستخدام
        الشخصي غير التجاري. وتحتفظ تطبيق مياه ريفان بكافة الحقوق التي لم يتم منحها
        صراحة اليك في وعلى موقع الشبكة ومحتوى وعلامات طلبات دوت کوم. وفي حالة قيامك
        بتنزيل او طباعة نسخة عن محتوى تطبيق مياه ريفان للاستخدام الشخصي، يتعين عليك
        الاحتفاظ بكافة اشعارات حقوق النشر واشعارات الملكية الاخرى المشمولة فيها.
        وتوافق على عدم تجاوز وتبطيل او بخلاف ذلك التدخل في الخصائص الامنية الخاصة
        بموقع الشبكة او الخصائص التي تمنع او تقيد استخدام او نسخ أي من محتوى تطبيق
        مياه ريفان او تنفيذ القيود على استخدام الموقع على الشبكة او محتوى تطبيق
        مياه ريفان.
        <strong>
        </strong>
    </p>
    <p dir="RTL">
        <strong>
            ترخيص المساهمة
        </strong>
    </p>
    <p dir="RTL">
        عن طريق نشر أي مساهمات في أي جزء من الموقع على الشبكة، فإنك تلقائيا تتعهد
        وتضمن ان لديك الحق لمنح تطبيق مياه ريفان ترخيص غير قابل للنقض ودائم وغير
        حصري وقابل للتحويل وخالي من الاتعاب ومدفوع بالكامل في جميع انحاء العالم
        لاستخدام ونسخ وتقديم الأداء والعرض العام واعادة صياغة وترجمة واقتباس
        (بالكامل او جزئيا) وتوزيع هذه المساهمات لاي غرض، كالإعلان التجاري أو خلاف
        ذلك او بالارتباط مع الموقع على الشبكة او ترويجها، لاعداد الاعمال المشتقة عن
        هذه المساهمات او تضمينها في اعمال اخرى، ومنح واعتماد اصدار التراخيص الفرعية
        للمذكور اعلاه .
        <br />
        يحق لـ تطبيق مياه ريفان – وفقا لتقديرنا وسلطتنا المطلقة– ان (1) تقوم بتحرير
        وصياغة أي من المساهمات او بخلاف ذلك تغييرها (2) اعادة تصنيف أي مساهمات
        لوضعها في مواقع ملائمة بقدر اكبر او (3) الفرز المسبق او حذف أي مساهمات التي
        يتقرر انها غير ملائمة او تنتهك هذه الاتفاقية.
        <strong>
        </strong>
    </p>
    <p dir="RTL">
        <strong>
            الروابط الى ومن مواقع الشبكة الاخرى
        </strong>
    </p>
    <p dir="RTL">
        كخدمة إضافية، قد يقدم الموقع روابط مع مواقع اخرى على الشبكة. وبعض من هذه
        المواقع على الشبكة قد تكون تابعة لتطبيق مياه ريفان بينما لا يكون البعض
        الاخر كذلك. ان تطبيق مياه ريفان غير مسؤول عن محتويات أي صفحات موقع على
        الشبكة تم انشاؤها والحفاظ عليها بمعرفة مؤسسات مستقلة عن تطبيق مياه ريفان.
        ان زيارة أي صفحات مواقع اطراف ثالثة يكون على مسؤوليتك الخاصة. وليس لـ تطبيق
        مياه ريفان أي سيطرة على صفحات مواقع الشبكة الاخرى المذكورة، ولا يمكنها ان
        تضمن دقة وكمولية او توقيت المعلومات الواردة في صفحات مواقع الغير. ان
        استخدامك لهذه المعلومات طوعي واعتمادك على هذه المعلومات يجب ان يتم فقط بعد
        المراجعة المستقلة. ان الاشارات الى المنتجات التجارية او الخدمات ضمن أي
        صفحات مواقع الغير المذكورة لا يشكل او يعني موافقة تطبيق مياه ريفان. وعن
        طريق استخدام الموقع، تقر ان تطبيق مياه ريفان ليس مسؤول عن توفر المواقع
        الأخرى او المحتوى الكائن في او عبر أي صفحات المواقع الأخرى.
    </p>
    <p dir="RTL">
        <strong>
            تحديد المسؤولية

        </strong>
    </p>
    <p dir="RTL">
        للحد المسموح به بموجب القانون، يقدم تطبيق مياه ريفان هذا المحتوى والموقع
        على اساس "كما هو" و"كما هو متاح" ولا نقدم أي تعهد او ضمان من أي نوع، صريح
        كان ام ضمني، بخصوص محتوى او توفر هذا الموقع، او انه سوف يكون في الوقت
        المحدد او خالي من الاخطاء، وأن العيوب سيتم تصحيحها، او ان الموقع او الخادم
        الذي يقوم بتوفيره خالي من الفيروسات او المكونات الضارة الاخرى.
        <br />
        وبالخضوع الى الفقرة السابقة، فإن تطبيق مياه ريفان أو مدراء ومسؤولي ووكلاء
        وموظفي او مقاولي تطبيق مياه ريفان ليس عليهم أي مسؤولية تجاه أي خسائر او
        اضرار مباشرة أو غير مباشرة، خاصة او استتباعية (بما في ذلك وبدون حصر الاضرار
        عن خسارة العمل او خسارة الارباح)، التي تنشأ عن العقد، أو أي تقصير او خلاف
        ذلك من استخدام او عدم القدرة على استخدام هذا الموقع. ولن يستثنى أي شيء من
        هذه الشروط او يقيد المسؤولية عن الوفاة او الاصابة الشخصية الناتجة عن
        اهمالنا او مسؤولية وكلائنا او موظفينا.
    </p>
    <p dir="RTL">
        <strong></strong>
    </p>
    <p dir="RTL">
        <strong>
            <a href="#">التعويض</a>
        </strong>
    </p>
    <p dir="RTL">
        عند طلب أي منتج عن طريق تطبيق مياه ريفان أنت توافق على تعويض وتجنيب مياه
        ريفان وشركتها الام و المصنع المصنع للمياه المعبأة و محطة التعبأة و تقليل
        الملوحة المنتجة وشركاتها التابعة والزميلة ووكلائها ومسؤوليها ومدرائها او
        الموظفين من أي مطالبة، طلب، ضرر (سواء كان مباشر او غير مباشر او استتتباعي)
        بما في ذلك اتعاب المحامي التي يتم تقديمها بواسطة أي شخص مرتبط باستخدامك
        للموقع، مع تقديماتك، مع أي انتهاك مزعوم به لحقوق الملكية الفكرية او أي حقوق
        اخرى لاي شخص او جهة اخرى ترتبط بالموقع، ومخالفتك لشروط الاستخدام الماثلة
        واي تصرفات اخرى او اغفالات تتعلق بالموقع.
    </p>
    <p dir="RTL">
        عند التشهير (بأي خلل بالمنتج) بأحد المنتجات المقدمة عبر تطبيق مياه ريفان في
        مواقع التواصل الاجتماعي او عبر شبكات الانترنت او عبر وسائل الاعلانات او
        الدعايا يحق لادارة مياه ريفان طلب التعويض المادي و المعنوي المناسب لها عبر
        المحاكم و القنوات الشرعية التي تحكم المملكة العربية السعودية و سوف تقوم
        مياه ريفان بالتعاون بالكامل مع أي جهات تنفذ القانون او قرارات المحكمة التي
        تطلب منا او توجهنا للتصريح عن هوية أو موقع أي شخص يقوم بنشر أي مواد .
        <strong>
        </strong>
    </p>
    <p dir="RTL">
        <strong>
            <a href="#">تنويه</a>
        </strong>
    </p>
    <p dir="RTL">
        ان المعلومات والمحتوى والمنتجات والخدمات والمواد المتوفرة من خلال تطبيق
        مياه ريفان بما في ذلك وبدون حصر طلبات المشروبات بكافة أشكالها مقدمة "كما
        هي" وكما هي متاحة بدون ضمانات من أي نوع، صريحة كانت ام ضمنية لاقصى حد مسموح
        به بموجب القانون. ان تطبيق مياه ريفان تتخلى عن كافة التعهدات والضمانات،
        صريحة كانت ام ضمنية، بما في ذلك ولا يقتصر على ضمانات قابلية التسويق،
        الملائمة لغرض معين، الملكية، عدم الانتهاك، الخلو من فيروسات الكمبيوتر،
        والضمانات الضمنية الناشئة عن سياق التعامل او سياق الاداء.<strong></strong>
    </p>

</body>
<script>
    $('body').bind('copy paste',function(e) {
    e.preventDefault(); return false;
});
</script>
